.content {
    max-width: 1200px;
    margin: 35px auto 59px;
    font-size: 14px;
}

.content > title {
    color: rgba(61, 70, 74, 0.38); 
}

.tag {
    font-size: 16px;
    color: #3d464a;
    margin-right: 28px;
}

.type {
    border-bottom: 1px solid rgba(61, 70, 74, 0.12);
}

.currentType {
    width: 108px;
    height: 40px;
    line-height: 40px;
    background-color: #a1abbe;
    text-align: center;
    border-radius: 4px;
    color: #feffff;
    font-weight: 500;
}

.orderDescribe {
    color: rgba(61, 70, 74, 0.54);
    font-size: 12px;
}

.point {
    padding: 31px 0;
    border-bottom: 1px solid rgba(61, 70, 74, 0.12);
}

.point > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.point > div:first-child { margin-bottom: 24px; }

.pointDetail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-grow: 1;
}

.pointList {
    display: flex;
    flex-flow: row nowrap;
}

.pointItem {
    height: 62px;
    padding: 0 19px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-right: 18px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    cursor: pointer;
}

#select {
    border-radius: 2px;
  border: solid 2px #2396f3;
}

.pointItem:last-child { padding: 0 16px;}

.pointItem > div:first-child {
    font-size: 18px;
    font-weight: bold;
    color: rgba(61, 70, 74, 0.87);
}

.pointItem > div:last-child {
    color: rgba(61, 70, 74, 0.54);
}

.discount {
    position: absolute;
    right: -2px;
    top: -1px;
    width: 43px;
    height: 43px;
    opacity: 0.72;
    font-size: 8.5px;
}

.discount div {
    color: #fff;
    height: 43px;
    line-height: 27px;
    transform: rotate(45deg);
    font-weight: 500;
}

.discount.hidden {
    display: none;
}

.pointPriceCount {
    color: #ff8f00;
    font-size: 16px;
    line-height: 62px;
}

.pointDescribe ul{
    padding-left: 89px;
    width: 367px;
}

.pointDescribe ul li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: rgba(61, 70, 74, 0.54);
    font-size: 14px;
}

.invoice {
    padding: 31px 0;
    border-bottom: 1px solid rgba(61, 70, 74, 0.12);
    display: flex;
    align-content: center;
}


.invoiceDetail {
    display: flex;
    flex-flow: column nowrap;
}

.invoiceDetail > *:nth-child(1) { margin-bottom: 19px; display: flex; align-items: center;}
.invoiceDetail > *:nth-child(2) { margin-bottom: 19px}
.invoiceDetail > *:nth-child(3) { margin-bottom: 25px}
.invoiceDetail > *:nth-child(4) { margin-bottom: 8px}
.invoiceDetail > *:nth-child(5) { margin-bottom: 23px}
.invoiceDetail > *:nth-child(6) { margin-bottom: 7px}
.invoiceDetail > *:nth-child(7) { margin-bottom: 8px}
.invoiceDetail > *:nth-child(8) { margin-bottom: 8px}
.invoiceDetail > *:nth-child(10) { margin-bottom: 8px}

.invoiceDetail > input:nth-child(4) { width: 320px }
.invoiceDetail > *:nth-child(5) > input { width: 320px}
.invoiceDetail > input:nth-child(7) { width: 560px }
.invoiceDetail > *:nth-child(8) > input { width: 276px}
.invoiceDetail > input:nth-child(9) { width: 276px }
.invoiceDetail > input:nth-child(11) { width: 320px }

.selectItem {
    height: 21px;
    line-height: 21px;
    display: inline-block;
    position: relative;
    padding-left: 34px;
    margin-right: 49px;
}

.selectItem img {
    position: absolute;
    left: 0px;
    cursor: pointer;
}

.invoiceDetail input[type=text] {
    border: 1px solid #8894ad;
    height: 40px;
    padding-left: 17px;
    margin-right: 8px;
    background-color: #fafbfd;
    box-sizing: border-box;
}

.invoiceDetail ::-webkit-input-placeholder {
    color: rgba(61, 70, 74, 0.38);
    font-size: 14px;
}

.invoiceDetail ::-moz-placeholder {
    color: rgba(61, 70, 74, 0.38);
    font-size: 14px;
}

.pay {
    padding: 31px 0;
    border-bottom: 1px solid rgba(61, 70, 74, 0.12);
    display: flex;
    align-content: center;
}

.payDetail { 
    display: flex;
    align-items: center;
}

.total  {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding-top: 16px;
}

.total > div:nth-child(1) {
    margin-bottom: 6px;
}

.total > div:nth-child(1) > span {
    color: #ff8f00;
    font-size: 24px;
}

.total > div:nth-child(2) {
    font-size: 12px;
    color: rgba(61, 70, 74, 0.54);
    margin-bottom: 15px;
}

.total > div:nth-child(3) {
    width: 114px;
    height: 41px;
    line-height: 41px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    background-color: #2396f3;
    cursor: pointer;
}

/* 2 */
.orderWrap {
    height: 1104px;
    box-sizing: border-box;
    padding-top: 71px;
}

.orderContent {
    width: 560px;
    height: 560px;
    box-sizing: border-box;
    border-top: 8px solid #ff8f00;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.38), 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
    margin: 0 auto;
}

.orderContent > title {
    color: #3d464a;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin: 38px 0 13px;
}

.orderContent > div {
    border-bottom: rgba(61, 70, 74, .12) 1px solid;
    padding-bottom: 23px;
    padding-top: 25px;
    max-width: 500px;
    margin: 0 auto;
    font-size: 14px;
    color: #3d464a;
    font-weight: 500;
}

.orderPurchase > div {
    position: relative;
    overflow: hidden;
    height: 14px;
    line-height: 14px;
}

.orderPurchase > div:not(:last-child) {
    margin-bottom: 16px;
}

.orderPurchase > div > span {
    display: inline-block;
    height: 14px;
    line-height: 14px;
}

.orderPurchase > div > span:nth-child(1) {
    left: 0px;
}

.orderPurchase > div > span:nth-child(2) {
    right: 167px;
}

.orderPurchase > div > span:nth-child(3) {
    right: 0px;
    color: #ff8f00;
}

.orderPoint > span {
    position: absolute;
}

.orderInformation > div {
    height: 15px;
    line-height: 15px;
}

.orderInformation > div:not(:last-child) {
    margin-bottom: 15px;
}

.orderButton {
    border-bottom-style: none!important;
    overflow: hidden;

}

.orderButton > div {
    width: 114px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    box-sizing: border-box;
    float: right;
    cursor: pointer;
    border-radius: 2px;
}

.orderButton > div:last-child {
    border:  solid 2px #8894ad;
    color: #8894ad;
    margin-right: 11px;
}

.orderButton > div:first-child {
    color: #fff;
    background-color: #2396f3;
    margin-right: 11px;
}

#open {
    margin-top: 3px;
}

#notOpen > *:not(:first-child) {
    display: none;
}