#frame {
    width: 100%;
    height: 100%;
    /* padding-top: 130px; */
    box-sizing: border-box;
}

.logo {
    position: absolute;
    left: 353px;
    top: 29px;
}

.content {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    top: 130px;
}

.content > img {
    width: 98px;
    height: 98px;
}

.content > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 300px;
    height: 48px;
    line-height: 48px;
    padding-left: 80px;
    box-sizing: border-box;
}

.content > div:nth-child(2) {
    padding-left: 0px;
}

.content > div > img {
    margin-right: 16px;
}

.changePassword {
    color: #2196f3;
}

.changePassword a:link {
    color: #2196f3;
}

.changePassword a:visited {
    color: #2196f3;
}

.loginOut {
    color: rgba(244,67,54,.87);
}

.title {
    justify-content: center;
}

.points {
    position: relative;
    margin-left: -4px;
}

.pointsQ {
    margin-left: 4px;

}

.points a:link {
    color: #2196f3;
}

.points a:visited {
    color: #2196f3;
}

.question {
    background: #464C5C;
    position: absolute;
    top: 35px;
    left: 215px;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    color: #abb;
    border-radius: 2px;
    box-shadow: 0 0 1px;
    white-space: nowrap;
    display: none;
}

.pointsQ:hover + a + .question {
    display: block;
}