.content {
    max-width: 848px;
    margin: 0 auto;
    padding-top: 72px;
}

.content > title {
    text-align: center;
    font-size: 34px;
    color: #3d464a;
    margin-bottom: 80px;
}

.part title {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #3d464a;
    line-height: 41px;
    margin-bottom: 40px;
}

.part video {
    margin-bottom: 64px;
    width: 100%;
}