.wrap {
    overflow-y: auto;
}

.wrap pre {
    white-space: pre-wrap;
word-wrap: break-word;
}

.frame {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 704px;
    height: 60px;
}

.frame > img {
    margin-right: 31px;
}

.frame input {
    width: 540px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid #332250;
    padding-left: 16px;
    font-size: 16px;
}

.frame > span {
    width: 90px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #673ab7;    
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.frame input::-webkit-input-placeholder{
    color:rgba(0, 0, 0, .26);
    font-size: 14px;
}
.frame input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:rgba(0, 0, 0, .26);
    font-size: 14px;
}
.frame input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:rgba(0, 0, 0, .26);
    font-size: 14px;
}
.frame input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:rgba(0, 0, 0, .26);
    font-size: 14px;
}


.content {
    max-width: 1052px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.loading {
    width: 54px;
    height: 55px;
}

.wordFrame {
    margin-top: 40px;
}

.resultMessage {
    font-size: 21px;
    color: rgba(0, 0, 0, .87)
}

.description {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    margin-top: 23px;
    line-height: 22px;
}

.typeName {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    margin-top: 19px
}


.footerWrap {
    /* position: absolute; */
    margin-top: 200px;
    margin-bottom: 100px;
    bottom: 276px;
    width: 100%;
}

.footer {
    
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
}

.footer > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}

.footer > div > img {
    margin-right: 8px;
}

.footerMessageWrap {
    display: flex;
    flex-flow: column nowrap;
}



.qq {
    margin-right: 23px;
    user-select: text;
}

.wechat {
    user-select: text;
}

.wechat > img {
    cursor: pointer;
}

.footer > div > img:nth-child(2) {
    display: none;
}

.footer > div:hover > .hiddenImg {
    display: inline;
}

.wechat:hover > img:nth-child(1) {
    display: none;
}

.wechat:hover > img:nth-child(2) {
    display: block;
}

.hiddenImg {
    position: absolute;
    top: -260px;
    left: -49px;
    display: none;
    cursor: default;
}

.hiddenImg > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 168px;
    font-size: 12px;
    background: #E1E0E0;
}

.hiddenImg > div > img {
    margin-bottom: 12px
}

.hiddenImg > img {
    position: relative;
    left: 69px;
}